@font-face {
src: url("fonts/Yeseva+One.ttf");
font-family:"Yeseva+One";
}
    
body {
background: #E5E5E5;
margin: 0 auto;
box-sizing: border-box;
} 

.header {
width: 1053px;
background: black;   
}
    
.header-content {
display: flex;
justify-content: space-between;
height: 83px;
align-items: center;
}
    
.button-header {
position: relative;
width: 161px;
height: 37px;
right: 97px;
background: #e3b873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
border: 0px;
outline: 0px;
padding: 13px 33px;
color: white;
  
text-transform: uppercase;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400px;
font-size: 11px;
line-height: 15px;
text-align: center;
}
    
.logo {
position: relative;
width: 179.74px;
height: 10px;
left: 61px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-size: 11px;
font-weight: 400;
line-height: 10px;
text-transform: uppercase;
color: #e3b873;
}
    
.telephone {
position: relative;
width: 126px;
height: 16px;
left: 28px;
    
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal; 
font-size: 11px;
font-weight: 400;
text-decoration-line: underline;
line-height: 15px;
color:#e3b873;
}
    
.header-menu {
display: none;
position: relative;
left: 83px;
list-style: none;
}
    
.menu_item {
padding-right: 29px;
}
    
.menu {
position: relative;
display: flex;
margin-right: 0px;
    
font-size: 11px;
list-style-type: none;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 15px;
text-decoration: none;
}
    
.link { 
color:white; 
text-decoration-line: none;
}

.icon {
position: relative;
display: block;
width: 35px;
height: 5px;
left: 43px;
background: wheat;
}
   
.room {
position: relative;
width: 1053px;
height: 707px;
bottom: 1px;
}

.key {
width: 1053px;
height: 707px;
filter: brightness(0.3);
}

.image {
width: 1053px;
height: 707px;
}

.container-text {
display: flex;
position: absolute; 
min-width: 588.11px;
min-height: 433px;
bottom: 131px;
left: 100px;
}
    
#h1 {
position: relative;
width: 579.11px;
height: 105px;

font-family: "Yeseva+One";
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase; 
color: white;
}
    
.city-span {
color: #e3b873;
}

.span:hover {
border-bottom: 2px solid #2798f1;
}
    
#text-p {
position: relative;
width: 482px;
height: 89px;
top: 138px;
right: 577px;
   
font-family: 'Nunito Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
color: #FFFFFF;
}
    
#button1-container-text {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 207px;
height: 51px;
top: 288px;
right: 1063px;
border-radius: 2px;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    
font-family: "Nunito Sans",  Arial, sans-serif;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
}
    
#button1-container-text:hover, #button2-container-text:hover, 
.button-header:hover, .icon:hover {
border: 2px solid #2798f1;
}
    
#button2-container-text {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 207px;
height: 51px;
top: 288px;
right: 1045px;
background-color: Transparent;
background-repeat:no-repeat;
cursor:pointer;
overflow: hidden;
outline:none;
border: 1px solid #FFFFFF;
border-radius: 2px;
    
font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
color: white;
}
    
@media screen and (min-width: 768px) {

body { background: green; }

.button-header { right: 67px; }

.container-text { bottom: 130px; left: 100px; }

.header-menu { display: none; }


@media screen and (min-width: 1600px) {

.header { width: 1680px; }

.container-text { bottom: 130px; left: 160px; }

.image { width: 1680px; }
}

