@font-face {
src: url("fonts/Yeseva+One.ttf");
font-family:"Yeseva+One";
}

body { 
background: goldenrod;
margin: 0 auto;
box-sizing: border-box;
}

.wrapper {
position: relative;
width: 1300px;
height: auto;
}

.group1 {
position: relative;
width: 1300px;
height: 1862px;
background: white;
}

.section {
display: flex;
flex-direction: column;
position: relative;
width: 617px;
height: 943px;
}

.house {
width: 600px;
height: 595px;
}

.img-house {
width: 600px;
height: 595px;
}

.rectangle {
position: relative;
display: flex;
flex-direction: column;
width: 434px;
height: 351px;
bottom: 375px;
left: 232px;
}

.mini-group1, .mini-group2, .mini-group3, .mini-group4 {
display: flex;
}

.numbers {
display: flex;
flex-direction: column;
position: relative;
width: 33px;
height: 19px;
top: 30px;
right: 60px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #FFFFFF;
}

.mini-text {
display: flex;
flex-direction: column;
position: relative;
width: 316px;
height: 39px;
top: 9px;
right: 42px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #363636;
}

.span:hover, .numbers:hover, .text-name:hover, .text:hover, .span-bl-sq2:hover {
background-image: linear-gradient(to right, #2798f1 0%, #2798f1 100%);
background-repeat: repeat-x; 
background-position: 0 100%; 
background-size: 100% 3px; 
}

.span-span:hover {
border-bottom: 2px solid #2798f1;
}

.circle {
width: 88px;
height: 88px;
}

.black-square {
display: flex;
flex-direction: column;
position: relative;
width: 506px;
height: 513px;
bottom: 886px;
left: 794px;
background: black;
}

.h4 {
position: relative;
width: 268.47px;
height: 47px;
top: 20px;
left: 146px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;

color: #FFFFFF;
}

.fio {
position: relative;
width: 348.85px;
height: 119px;
top: 27px;
left: 36px;
cursor: pointer;
}

.text-name{
position: absolute;
width: 41.62px;
height: 16px;


font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: rgba(255, 255, 255, 0.5);
}

.text-question {
position: absolute;
width: 124px;
height: 23px;
top: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
}

.text-question:hover::after {
 width: 100%;  
}

.text-question::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.strip {
width: 423px;
height: 1px;
top: 55px;
box-sizing: border-box;
position: absolute;
border: 1px solid rgba(54, 54, 54, 0.3);
background: gba(255, 255, 255, 0.15);;
}

.strip:hover {
background-color: #2798f1;
}

.phone {
position: relative;
width: 348.85px;
height: 119px;
top: 8px;
left: 36px;
cursor: pointer;   
}

.mail {
position: relative;
width: 348.85px;
height: 119px;
bottom: 17px;
left: 36px;
cursor: pointer;   
}   

.text-question1 {
position: absolute;
width: 69px;
height: 23px;
top: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
}

.text-question1:hover::after {
width: 100%;
}

.text-question1::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.first-checkbox {
position: relative;
width: 300px;
height: 40px;
bottom: 59px;
left: 36px;
}

.label {
cursor: pointer;
}

.checkbox{
display: none;
}

.fake{
display: inline-flex;
width: 18px;
height: 18px;
background: #E3B873;
color: white;
justify-content: center;
}

.fake::before{
content:"\2714";
opacity: 0;
transition: .2s;
}

.checkbox:checked + .fake::before{
opacity: 1;
}

.text {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 163.68%;
color: #FFFFFF;
}

.button {
position: relative;
width: 213px;
height: 51px;
bottom: 33px;
left: 238px;
padding-bottom: 4px;
padding-left: 43px;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
 }

.button:hover, .button-bl-r:hover, .button-footer:hover {
border: 2px solid #2798f1;
}

.but-text {
width: 123px;
height: 13px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: white;
}

.pig {
position: relative;
display: flex;
width: 72px;
height: 72px;
bottom: 871px;
left: 805px; 
background: #FFFFFF;
border: 0.1px solid #FFFFFF
}

.ellipse {
position: relative;
top: 1px;
width: 88px;
height: 88px;
right: 6px;
bottom: 4px;
background: white;
box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.piggy {
position: relative;
width: 40px;
height: 33px;
top: 15px;
right: 68px;
}

.piggy:hover, .bucks:hover, .eyes:hover {
background: #2798f1;
}

.eyes {
position: relative;
width: 5px;
height: 2.5px;
top: 27px;
right: 79px;
}

.bucks {
position: relative;
width: 8px;
height: 11px;
top: 27px;
right: 100px;
}

.text-pig {
position: absolute;
width: 219px;
height: 47px;
top: -5px;
left: 83px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #E3B873;
text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);  
}

.mini-group5 {
display: flex;
flex-direction: column;
position: relative;
width: auto;
height: auto;
right: 62px;
bottom: 241px;
}

.h2 {
position: relative;
width: 257px;
height: 26px;
bottom: 562px;
left: 581px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #181818;
}

.group-hands {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width: 34px;
height: 28px;
bottom: 567px;
left: 680px;
}

.vector1 {
position: relative;
width: 32px;
height: 1.5px;
right: 6px;
background: #E3B873;
border-radius: 30px;
}

.hands {
width: 34px;
height: 21px;
}

.vector2 {
position: relative;
width: 32px;
height: 1.5px;
left: 6px;
background: #E3B873;
border-radius: 30px;
border-bottom: ;: 2px solid #E3B873;
}

.vector1:hover, .vector2:hover {
background: #2798f1;
}

.h3 {
position: relative;
width: 366px;
height: 57px;
bottom: 572px;
left: 524px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
text-align: center;
color: #363636;  
}

.people {
position: relative;
display: flex;
justify-content: space-between;
width: auto;
height: auto;
bottom: 715px;
}

.one, .two, .three {
position: relative;
width: 322px;
height: 428px;
background: white;

}

.ellipse1, .ellipse2, .ellipse3 {
position: relative;
width: 76px;
height: 76px;
right: 113px;
bottom: 15px;
z-index: -1;
background: #FFFFFF;
}

.photo1, .photo2, .photo3 {
position: relative;
width: 116px;
height: 102px;  
}

.woman, .man {
position: relative;
width: 178px;
height: 51px;
bottom: 87px;
left: 130px ;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #181818;
}

.text-woman {
position: relative;
width: 324px;
height: 216px;
bottom: 64px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 23px;
}

.button-container {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width: auto;
height: auto;
bottom: 742px;
}

.but1, .but2, .but3 {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width: 272px;
height: 54px;
background: #E3B873;
box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.but1:hover, .but2:hover, .but3:hover {
border: 2px solid #2798f1;
}

.vertical {
position: relative;
right: 8px;
}

.vertical:hover {
background: #2798f1;
}

.pot {
position: relative;
left: 0px;
}

.but1-text {
position: relative;
width: 123px;
height: 13px;
left: 2px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;
text-transform: uppercase;
color: #FFFFFF;
}

.but2-text {
position: relative;
width: 123px;
height: 13px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;
text-transform: uppercase;
color: #FFFFFF;   
}

.buildings {
position: relative;
display: flex;
justify-content: space-between;
align-items: ;
width: 1027px;
height: 505px;
bottom: 738px;
opacity: 0.05;
}

.building1 {
position: absolute;
width: 738px;
height: 388px;
bottom: 170px;
background: #9e9e9e0d;
}

.building2 {
position: absolute;
width: 578px;
height: 388px;
right: -272px;
bottom: 170px;
background: #9e9e9e0d;
}

.black-rectangle {
position: relative;
width: 709px;
height: 409.32px;
bottom: 288px;
left: 340px;
z-index: 2;
background: black;
}

.black-rectangle-mini {
display: flex;
flex-direction: column;
position: relative;
width: auto;
height: auto;
}

.h2-b-r {
position: relative;
width: 257px;
height: 26px;
top: 25px;
left: 259px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.inform {
position: relative;
width: 348.85px;
height: 119px;
top: 42px;
left: 131px;
cursor: pointer;
}

.text-name{
position: absolute;
width: 41.62px;
height: 16px;


font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: rgba(255, 255, 255, 0.5);
}

.text-question {
position: absolute;
width: 124px;
height: 23px;
top: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
}

.text-question:hover::after {
 width: 100%;  
}

.text-question::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.strip1  {
width: 231px;
height: 1px;
top: 55px;
box-sizing: border-box;
position: absolute;
border: 1px solid rgba(54, 54, 54, 0.3);
background: gba(255, 255, 255, 0.15);;
}

.strip2 {
width: 517px;
height: 1px;
top: 55px;
box-sizing: border-box;
position: absolute;
border: 1px solid rgba(54, 54, 54, 0.3);
background: gba(255, 255, 255, 0.15);;
}  

.strip:hover, .strip1:hover, .strip2:hover {
background-color: #2798f1;
}

.phone1 {
position: relative;
width: 348.85px;
height: 119px;
bottom: 78px;
left: 403px;
cursor: pointer;   
}

.question {
position: relative;
width: 348.85px;
height: 119px;
bottom: 116px;
left: 131px;
cursor: pointer;   
}   

.text-question1 {
position: absolute;
width: 93px;
height: 23px;
top: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
}

.text-question1:hover::after {
width: 100%;
}

.text-question1::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.first-checkbox1 {
position: relative;
width: 300px;
height: 40px;
bottom: 145px;
left: 251px;
}

.label {
cursor: pointer;
}

.checkbox{
display: none;
}

.fake{
display: inline-flex;
width: 18px;
height: 18px;
background: #E3B873;
color: white;
justify-content: center;
}

.fake::before{
content:"\2714";
opacity: 0;
transition: .2s;
}

.checkbox:checked + .fake::before{
opacity: 1;
}

.button-bl-r {
position: relative;
width: 213px;
height: 51px;
bottom: 122px;
left: 289px;
padding-bottom: 6px;
padding-left: 79px;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
 }

.button-bl-r-text {
width: 56px;
height: 13px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: white;
}

.black-square2 {
display: flex;
position: relative;
width: 100%;
height: 1004.9px;
bottom: 482px;
z-index: 1;
background: black;
}

.image2 {
width: 1300px;
height: 1004.9px;
filter: brightness(0.5);
}

.img2 {
width: 1300px;
height: 1004.9px;
}

.rectangle2 {
position: absolute;
width: 81%;
height: 615px;
top: 277px;
left: 23px;
}

.mini-group-6 {
display: flex;
flex-direction: column;
position: relative;
top: 21px;
}

.h1 {
position: relative;
width:589px;
height: 51px;
top: 4px;
left: 348px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #E3B873;  
}

.envelope {
position: relative;
width: 28px;
height: 28px;
top: 2px;
left: 612px;
background: black;
}

.email {
position: relative;
width: 28px;
height: 28px;
background: black;
}

.vect {
position: relative;
left: 6px;
bottom: 30px;
}

.vect1 {
position: relative;
left: 6px;
bottom: 46px;
}

.insta {
position: relative;
width: 28px;
height: 28px;
bottom: 26px;
left: 651px;
background: #9e9e9e0d;
}

.image3 {
position: absolute;
width: 813px;
height: 468px;
top: 164px;
left: 242px;
}

.footer {
position: relative;
width: 1300px;
bottom: 483px;
margi: 0 auto;
background: black;  
}

.footer-content {
display: flex;
justify-content: space-between;
height: 133px;
align-items: center;
}

.button-footer {
position: relative;
width: 161px;
height: 37px;
right: 55px;
background: #e3b873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
border: 0px;
outline: 0px;
padding: 13px 33px;
color: white;
  
text-transform: uppercase;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400px;
font-size: 11px;
line-height: 15px;
text-align: center;
}

.logo {
position: relative;
width: 179.74px;
height: 10px;
left: 61px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-size: 11px;
font-weight: 400;
line-height: 10px;
text-transform: uppercase;
color: #e3b873;
}

.telephone {
position: relative;
width: 126px;
height: 16px;
left: 28px;
    
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal; 
font-size: 11px;
font-weight: 400;
text-decoration-line: underline;
line-height: 15px;
color:#e3b873;
}

.footer-menu {
position: relative;
left: 83px;
list-style: none;
}

.menu {
position: relative;
display: flex;
margin-right: 0px;
    
list-style-type: none;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-size: 11px;
font-weight: 400;
line-height: 15px;
text-decoration: none;
}

.menu_item {
padding-right: 29px;
}

.link {
text-decoration-line: none;
color: white;
}

.icon {
position: relative;
display: block;
width: 35px;
height: 5px;
left: 43px;
background: wheat;
}

@media screen and (max-width: 1300px) {
body { background: #795548;}

.wrapper {width: 1026p;}

.group1 {width: 1026p; height: 1707px; background: white;}

.img-house {width: 429px; height: 507px;}

.circle { width: 67px; height: 67px;}

.numbers { width: 21px; height: 13px; top: 23px; right: 45px;}

.mini-text {right: 33px; margin-top: 4px;}

.rectangle {width: 419px; margin-left: -65px;}

.black-square {width:386px; height:417px; left:643px;}

.h4 {top: -9px; left: 60px;}

.fio {top: -2px; }

.phone {top: -20px; }

.mail {bottom: 34px; }

.strip {width: 321px; }

.first-checkbox {bottom: 48px; }

.button {width: 181px;height: 41px; bottom: 25px; left: 147px;
padding-left: 28px;}

.pig {bottom: 868px; left: 666px;}

.ellipse {width: 74px; height: 74px; right: 12px;}

.text-pig {top: -10px; left: 67px;}

.mini-group5 {right: 184px; bottom: 188px;}

.people {width: 1291px; right: 73px;}

.photo1, .photo2, .photo3 {width: 80px; height: 80px;}

.woman, .man {left: 94px;}

.one {width: 160px; margin-left: 13p;}

.two {width: 160px; right: 142px;}

.three {width: 160px;left: -373px;}

.button-container {bottom: 741px; left: 0px;}

.but1 {width: 247px; margin-left: -76px;}

.but2 {width: 247px; left: -139px;}

.but3 {width: 247px; left: -368px;}

.buildings { height: 409px; bottom: 626px;}

.building1 { width: 485px; height: 326px;}

.building2 { width: 485px; height: 326px; right: 0px; }

.black-rectangle {width: 610px;height: 359px;
bottom: 188px; left: 202px;}

.black-rectangle-mini {right: 44px; bottom: 35px;}

.h2-b-r {top: 35px; left: 223px;}

.strip1 { width: 173px; }

.strip2 { width: 436px; }

.first-checkbox1 { left: 219px; }

.button-bl-r { bottom: 133px; left: 253px;}

.black-square2 { width: 1026px; height: 751px; bottom: 357px;}

.img2 { width: 1026px; height: 751px;}

.rectangle2 {  top: 169px;}

.mini-group-6 {top: 32px; right: 171px;}

.image3 {width:696px;height: 356px;left: 123px;}

.footer { width: 1026px; bottom: 366px;}

.footer-menu {display: none;}
}