@font-face {
src: url("fonts/Yeseva+One.ttf");
font-family:"Yeseva+One";
}

@media screen (min-width: 768px) {
}

body {
background: #E5E5E5;
margin: 0px;
}

body * {
box-sizing: border-box;
}

.all-content {
width: 375px;
height: 533px;
}

.header {    
background: black;
width: 375px;
height: 57px;
}

.header-content {
display: flex;
justify-content: space-between;
align-items: center;
height: 57px;
}

.logo {
width: 176px;
height: 10px;
margin-left: 18px;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-size: 11px;
font-weight: 400;
line-height: 15px;
text-transform: uppercase;
color: #e3b873;
}

.logo:hover::after {
width: 11.5%;  
}

.logo::after {
content: "";
display: flex;
height: 2px;
position: absolute;
background: #2798f1;
}

.telephone {
width: 107px;
height: 12px;
margin-right: 18px;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal; 
font-size: 11px;
font-weight: 400;
text-decoratione: none;
line-height: 15px;
color: #FFFFFF;
}

.telephone:hover::after {
 width: 8%;
}

.telephone::after {
content: "";
display: flex;
height: 2px;
position: absolute;
background: #2798f1; 
}

.room {
right: 0%;
top: 1.07%;
bottom: 89.96%;
width: 375px;
height: 476px;
}

.key  {
width: 375px;
height: 476px;
left: 0%;
right: 0%;
top: 1.07%;
bottom: 89.96%;
filter: brightness(0.4);
}

.img {
width: 375px;
height: 476px;
}

.container-text {
position: relative;
width: 340px;
height: 324px;
top: 388px;
left: 17px;
}

#h1 {
width: 332px;
height: 60px;
margin: 0px;
color: white; 
font-family: "Yeseva+One";
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 30.3px;
text-transform: uppercase; 
}

.span:hover {
background-image: linear-gradient(to right, #2798f1 0%, #2798f1 100%);
background-repeat: repeat-x; 
background-position: 0 100%; 
background-size: 100% 2px;   
}

.city-span {
color: #e3b873;
}

#text-p {
width: 287px;
height: 94px;
margin-bottom: 34px;

font-family: 'Nunito Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19.02px;
color: #FFFFFF;
}

.get:hover {
background-image: linear-gradient(to right, #2798f1 0%, #2798f1 100%);
background-repeat: repeat-x; 
background-position: 0 100%; 
background-size: 100% 2px; 
  }
  
#button1-container-text {
display: block;
width: 338.61px;
height: 51px;
padding-top: 5px;
padding-right: 103px;
padding-left: 112px;
margin-bottom: 22px;

background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
border-radius: 2px;
font-family: "Nunito Sans",  Arial, sans-serif;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
}

#button1-container-text:hover {
border: 2px solid #2798f1;
}

.button-1:hover {
border-bottom: 2px solid #2798f1;
}

#button2-container-text {
display: flex;
justify-content: center;
align-items: center;
width: 338.61px;
height: 51px;
border: 1px solid #FFFFFF;
border-radius: 2px;
background-color: Transparent;
background-repeat:no-repeat;
cursor:pointer;
overflow: hidden;
outline:none;

color: white;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
}

.button-2:hover {
border-bottom: 2px solid #2798f1;
}  