@font-face {
src: url("fonts/Yeseva+One.ttf");
font-family:"Yeseva+One";
}

 body {
background: #E5E5E5;
margin: 0px;
box-sizing: border-box;
} 

.header {
position: relative;
width: 1300px;
background: black;
top: 33px;
left: 478px;
}

.header-content {
display: flex;
justify-content: space-between;
align-items: center;
height: 83px;
}

.button-header {
width: 171px;
height: 44px;
background: #e3b873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
border: 0px;
outline: 0px;
padding: 13px 33px;
margin-right: 30px;
color: white;

text-transform: uppercase;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400px;
font-size: 13px;
line-height: 15px;
text-align: center;
}

.logo {
margin-left: 30px;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-size: 13px;
font-weight: 400;
line-height: 15px;
text-transform: uppercase;
color: #e3b873;
}

.telephone {
position: relative;
right: 9px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal; 
font-size: 13px;
font-weight: 400;
text-decoration-line: underline;
line-height: 15px;
color:#e3b873;
}

.header-menu {
list-style: none;
margin-left: 129px;
}

.menu_item {
padding-right: 29px;
}

.menu {
position: relative;
display: flex;
margin-right: 30px;

font-size: 13px;
list-style-type: none;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 15px;
text-decoration: none;
box-shadow: 1px 8px 17px red;
}

.link { color:white; 
text-decoration-line: none;
}

.icon {
position: relative;
display: block;
width: 35px;
height: 5px;
right: 29px;
background: wheat;
}

.room {
position: relative;
width: 1300px;
height: 707px;
top: 32px;
left: 478px;
background: url("room.jpg") no-repeat;
background-size: cover;
box-shadow:0 0 0 1000px rgba(0, 0, 0, 0.77) inset;
}

.container-text {
position: absolute; 
width: 580.11px;
height: 433px;
top: 138px;
left: 136px;
}

#h1 {
width: 577.11px;
height: 105px;
top: 277px;
left: 134px;
 
font-family: "Yeseva+One";
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase; 
color: white;
}

.city-span {
color: #e3b873;
}

#text-p {
width: 504px;
height: 89px;
top: 401px;
left: 134px;
margin-top: -11px;
margin-bottom: 40px;

font-family: 'Nunito Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
color: #FFFFFF;
}

#button1-container-text {
display: flex;
justify-content: center;
align-items: center;
width: 207px;
height: 51px;
border-radius: 2px;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

font-family: "Nunito Sans",  Arial, sans-serif;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
}

#button1-container-text:hover {
border: 2px solid #E3B873;
}

#button2-container-text {
display: flex;
justify-content: center;
align-items: center;
width: 207px;
height: 51px;background-color: Transparent;
background-repeat:no-repeat;
cursor:pointer;
overflow: hidden;
outline:none;
border: 1px solid #FFFFFF;
border-radius: 2px;
margin-top: -51px;
margin-left: 232px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
color: white;
}

.button-2:hover {
border-bottom: 2px solid #2798f1;
} 



.content {
position: relative;
width: 420px;
height: 790px; 
bottom: 760px;
left: 26px; 
background: white;
}

.submit {
display: flex;
position: absolute;
justify-content: center;
align-items: center;
width: 200px;
height: 51px;
border: 1px solid #E3B873;
top: 21px;
right: 190px;
left: 30px; 
background: #E3B873;
box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}

.submit:hover {
border: 2px solid #2798f1;
transform: matrix(1, 0, 0, -1, 0, 0);
}

.text-button_submit:hover {
border-bottom: 2px solid #2798f1;
}

.text-h1 {
position: absolute;
Width: 253px;
Height: 66px;
Top: 150px;
Left: 30px;

font-family: "Yeseva One", Ariai, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 27px;
letter-spacing: -0.07em;
text-transform: uppercase;
color: #E3B873;
cursor: pointer;
}

.completed:hover::after {
 width: 60%;  
}

.completed::after {
content: "";
display: block;
height: 2px;
position: absolute;
background: #2798f1;
}

.project:hover::after {
 width: 51%;  
}

.project::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.container-h2 {
position: absolute;
width: 178px;
height: 39px;
top: 294px;
left: 31px; 
}

.text-h2 {
left: 0px;
position: absolute;
font-family: "Yeseva One", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
text-transform: uppercase;
color: #181818;
}

.text-h2:hover {
border-bottom: 2px solid #2798f1;
}

.button {
position: absolute;
width: 73px;
height: 33px;
top: 25px;
left: 293px;

font-family: 'Nunito Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
color: #131313;
cursor: pointer;
}

.button:hover::after {
 width: 95%;  
}

.button::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.title {
width: 73px;
height: 33px;
top: 167px;
left: 293px;
position: absolute;

font-family: 'Nunito Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
color: #131313;
}

.title:hover::after {
 width: 60%;  
}

.title::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.subtitle{
width: 135px;
height: 33px;
top: 287px;
left: 293px;
position: absolute;

font-family: 'Nunito Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
color: #131313;
}

.subtitle:hover::after {
 width: 60%;  
}

.subtitle::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.group-4{
width: 348.85px;
height: 119px;
top: 387px;
position: absolute;
cursor: pointer;
}

.text-name{
position: absolute;
width: 32.85px;
height: 12px;
top: 387p;
left: 30px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
color: rgba(54, 54, 54, 0.5);
}

.text-name:hover {
background-image: linear-gradient(to right, #2798f1 0%, #2798f1 100%);
background-repeat: repeat-x; 
background-position: 0 100%; 
background-size: 100% 2px; 
}

.text-question {
position: absolute;
width: 137.36px;
height: 17px;
top: 8px;
left: 30px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #363636;
padding-top: 7px;
}

.text-question:hover::after {
 width: 100%;  
}

.text-question::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
}

.border {
width: 231px;
height: 1px;
top: 460p;
bottom: 58px;
left: 30px;
box-sizing: border-box;
position: absolute;
border: 1px solid rgba(54, 54, 54, 0.3);
transform: matrix(1, 0, 0, -1, 0, 0);
}

.border:hover {
transition: margin-right 5px;
background-color: #2798f1;
}

.input {
width: 135px;
height: 33px;
top: 396p;
bottom: 42px;
left: 293px;
position: absolute;

font-family: 'Nunito Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
color: #131313;
}

.input:hover::after {
 width: 45%;  
}

.input::after {
 content: "";
 display: block;
 height: 2px;
 position: absolute;
 background: #2798f1;
} 

@media screen and (max-width: 1300px) and (min-width: 330px) {
body { background: goldenrod; }
.header-menu { display: none; }
 }